*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#f4f4f4;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
}

.container{
width:95%;
max-width:500px;
background:#fff;
padding:25px;
border-radius:15px;
box-shadow:0 0 15px rgba(0,0,0,.15);
text-align:center;
}

h1{
color:#0f62fe;
margin-bottom:10px;
}

p{
margin-bottom:20px;
color:#555;
}

.uploadBox{
display:block;
padding:40px 20px;
border:2px dashed #0f62fe;
border-radius:12px;
cursor:pointer;
margin-bottom:20px;
font-size:18px;
font-weight:bold;
color:#0f62fe;
}

.uploadBox:hover{
background:#eef5ff;
}

#preview{
width:100%;
display:none;
margin-bottom:20px;
border-radius:10px;
}

.sizeBox{
display:flex;
gap:10px;
margin-bottom:20px;
}

.sizeBox input,
.sizeBox select{
padding:12px;
font-size:16px;
border:1px solid #ccc;
border-radius:8px;
}

.sizeBox input{
flex:2;
}

.sizeBox select{
flex:1;
}

button{
width:100%;
padding:14px;
margin-top:10px;
border:none;
border-radius:8px;
background:#0f62fe;
color:#fff;
font-size:16px;
cursor:pointer;
}

button:hover{
background:#0047c2;
}

#resultInfo{

margin:15px 0;

font-size:18px;

font-weight:bold;

color:#0f62fe;

text-align:center;

}

.size-input{
    display:flex;
    align-items:center;
    gap:8px;
}

.unit{
    font-size:16px;
    font-weight:600;
    color:#555;
}
